<header >
        <div class="header">
            <h1 class="title">
                <a class="image" href="Home" target="_blank">
                    <img src="/images/—Pngtree—dog cat pet shovel officer_3934436.png"  style="width:75px">
                </a>
                <a href="Question8">Paws and Whiskers</a>
                <div id="Date-Container" class="Date"></div>
            </h1>
        </div>
    </header>