<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div id="Pet-Giveaway-login" class="wrapper">
        <div >
            <h1>Enter Login information</h1>
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required><br>
                <i class='bx bx-user'></i>

                <label for="password">Enter login Password:</label>
                <input type="password" name="password" id="password" required><br>
                <i class='bx bx-lock-alt'></i>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <script src="js/Question8.js" charset="utf-8"></script>
</body>
</html>
